body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

/* LOGIN PAGE STYLES */

.login-box{
    max-width: 500px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 50px 0;
    margin: 0 auto;
}
.login-header-container{

    padding-top: 15px;
    min-height: 225px;
}

.login-headline{
    font-size: 2.5rem;
    text-align: center;
    color: navy;
    margin-top: 50px;
    margin-bottom: 0;
}

.login-headline-small{
    font-size: 1rem;
    text-align: center;
    color: #2776B7;
    margin-top: 0;
    margin-bottom: 1rem;
}

.login-title{
    color:#559cd6;
    font-size: 1.5rem;
    text-align: center;
}

.content {
    flex: 1;
}

.header{
    
    background-color: #559cd6;
    border-top: 30px solid #2776b7;
    border-bottom: 5px solid navy;
    margin-bottom: 2rem;
    padding-top: 15px;
        
}

/* SIGN UP PAGE STYLES */
.signup-container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 20px 0;
}

#header-text{
    
    padding: 0px;
    font-size: 3em;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    

}
.sub-header{

    font-size: 2em;
    padding: 0px;
    text-align: center;

}

.page-header{

    font-size: 3em;
    padding: 0px;
    text-align: center;
    margin-bottom: 4vh;

}

/* Main page CSS */

.table{

    font-family: 'Raleway', sans-serif;

}

.edit-container{

    padding-top: 30px;

}

.section-container{
    padding: 2% 4%;
    margin: 0 6%;
    /* box-shadow: 0px 2px 5px rgba(0,0,0,.3); */

}

.logout-btn-wrapper{

margin:0 3%;
}

.footer{
    position: absolute;
    bottom: -80px;
    background-color: rgba(150, 150, 150, .2);
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    font-size: 1.0em;
    border-top: 5px solid navy;

}

#update-btn{

    margin-top: 20px;
    
}

#cancel-btn{

    margin-top: 20px;
    
}
.login-header{
    
    background-color: #559cd6;
    border-bottom: 5px solid navy;
    width:100%;
    height: 13vh;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 30px;     
}

#logout-button{

    float:right;
    width: 25%;
    height: 50px;
    font-size:1.5em;
    margin-top: 30px;
    margin-right: 4%;
}

#logout-btn-2{

    margin-left: 3%;
    color: red;
    font-size: 1.2em;

}
#submit-button{

    width: 40%;
    font-size:1.5em;
}

#update-button {

    float: left;
    width: 50%;
    margin-top: 20px;

}

#page-top-color{

    background-color: #2776B7;
    height: 50px;

}

.display-date{

    float: right;
    padding-top: .8%;
}

#sort-nav-bar{

    padding: 1%;
    margin: 0 9%;
}

@media(max-width:992px){

    .section-container{

        padding: 2% 6%;
    }

}

@media(max-width:853px){

    .sub-header{
        font-size: 1.1em;
    }

    .header{

        height:125px;
    }

    #header-text{

        font-size:1.5em;
        line-height: 1.1em;
    }

    .page-header{

        font-size:3em;
    }

    #logout-button{

        width: 100%;
        font-size:1.5em;
        margin-top:30px;
        float:none;
    }

    .form-control{
        
        height:75px;
        font-size: 1.2em;
    }

    .section-container{
        
        box-shadow: none;
        
    }

    #update-button{

        width:100%;
        font-size:1.5em;
        
    }
    .logout-btn-wrapper{
        
        margin:0 3%;
        margin-right: 6%;
    }


}

@media(max-width:549px){

    .login-box{
        border: none;
    }

    .display-date{

        display: none;
    }

    #logout-btn-2{

        float: right;
    }



}

