body{
    font-size: 1rem;
}
.container {
    width: 70%;
    margin: auto;
    padding: 10px 25px;
}
.container-wide {
    width: 100%;
}

.row{
    padding: 5px;
}

.footer{
    color: $lt-gray;
}

.vh-1{
    min-height: 20px;
}

.vh-2{
    min-height: 40px;
}

.float-right{
    float: right;
}

.mb-1{
    margin-bottom: 4em;
}

.icon {
    width: 35px;
}

.login-box{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 35px;
    border: 1px solid rgb(82, 146, 213);
    border-radius: 2px;
}

table {
    
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    min-width: 1024px;

    thead th{
        padding: 15px 5px 15px 5px;
        text-align: center;
        background-color: $lt-gray;
        border-right: 1px solid white;
    }

    th {
        box-sizing: border-box;
        border: 1px solid $lt-gray;
    }

    td {
        padding: 12px 8px;
        border: 1px solid $lt-gray;
        font-family: $body-font;
        letter-spacing: .05em;
        text-align: center;
        white-space: nowrap;
    }

    @media(max-width: 1024px){
        margin-top: 2px;
        margin-bottom: 2px;
    }

}

tr:nth-child(even){
    background-color: rgb(249, 249, 249);
}

tr:hover{
    background-color: rgb(255, 242, 242);
}
