body {
    color: $dk-gray;
    font-family: $body-font;
}

input::placeholder{
    font-family: 'Raleway, sans-serif';
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

.login-headline {
    text-align: center;
    font-size: 1.5rem;
    color: $lt-blue;
}

.text-center{
    text-align: center;
}

.heading-sm {
    font-family: $heading-font;
    font-size: 2rem;
    font-weight: 300;
}

.heading-md {
    font-family: $heading-font;
    font-size: 3rem;
    font-weight: 300;
    margin: 1.1vh 0;
}

.heading-lg {
    font-family: $heading-font;
    font-weight: 300;
    font-size: 4rem;
}

.text-color-primary {
    color: $primary-color;
}

.text-secondary {
    color: $secondary-color;
}

.text-lt-blue {
    color: $lt-blue; 
}

i.fas.fa-truck {
    color: #88C433;
}

i.fa-window-restore {
    color: #E74437;
}

i.fa-archive {
    color: #0071B7;
}

i.fa-clipboard-check {
    color: #88C433;
}