//Colors
$primary-color: #003D6A;
$secondary-color: #B3182B;
$dk-gray: #3C3E3D;
$lt-gray: #d3d3d3;
$lt-blue: #75a7dc;
$lt-red: #dc7575;

//Fonts
$heading-font: 'Raleway', sans-serif;
$body-font: 'Montserrat', sans-serif;
